@font-face{
	font-family: SourceCodePro;
	src: url('./font/source-code-pro/ttf/SourceCodePro-Light.ttf');
}

body{
	background-color: #ccc;
	
	font-family: SourceCodePro;
}

.empty-div{
	width: 561px;
	height: 205px;
	background-image: url('./pelli.jpg');
	background-repeat: no-repeat;
}